# Python virtual muhiti (Eng muhimi, buni GitHub'ga aslo yuklab bo'lmaydi!)
.venv/
venv/
ENV/
env/
.env/

# Python kesh fayllari
__pycache__/
*.py[cod]
*$py.class

# IDE (VS Code va PyCharm) sozlamalari
.vscode/
.idea/

# Operatsion tizim fayllari
.DS_Store
Thumbs.db

# Katta ma'lumotlar bazasi fayllari (agar loyihada bo'lsa)
*.sqlite3
*.db

models1/
models3/
models4/
*.joblib
*.keras